<footer class="footer">
    <nav>
        <ul>
            <li><a href="{{ path("home") }}">Home</a></li>
            <li><a href="{{ path("articles") }}">Articles</a></li>
            <li><a href="{{ path("contact") }}">Contact</a></li>
        </ul>
    </nav>
</footer>

</body>

</html>