{% extends "base.html.twig" %}

{% block title %}WORLD | Accueil{% endblock %}

{% block main %}
    <section>
        <article>
            <div class="img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZNCUq7yZ9Osw_KsVgbQUK26trv5PZR_7fig&usqp=CAU" alt="">
            </div>
            <div class="containt">
                <h2>Tous les pays du monde</h2>
                <p>Cette page recense les pays du monde, quel que soit leur statut : reconnus par l'ONU, par un ou plusieurs autres pays, ou même auto-proclamés.</p>
            </div>
        </article>
    </section>

{% endblock %}
